body{
    color: #333;
    text-align: center;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}
#cabecera{
    background: green;
    box-shadow: 0px 15px 20px 0px rgba(0, 0, 0, 0.5);
    color: white;
    font-weight: 900;
    margin: 0;
    padding: 1em;
}
#cabecera #tagline{
    font-weight: normal;
    font-size: 0.8em;
    padding: 1em 0 0 0;
}

#footer {
width:71.8%;
margin: 0 auto;
    background:#777;
    color: white;
    text-align: center;
    padding: 0.5em 0;
}

#container {
    width: 70%;
    padding: 1em;
    text-align: left;
    border: 5px solid #DDD;
    margin: 0 auto;
}
#container h1 {
    font-size: 20px;
}
